/***************************** 
每种颜色都会有color版本，和background版本
*****************************/

/* 常用黑白灰 */
.white {
   color: #f9f3ec;
}

@value whiteColor: #f9f3ec;

.whiteBackground {
   background-color: #f9f3ec;
}

.lightGrey {
   color: #e0e0e0;
}

.lightGreyBackground {
   background-color: #e0e0e0;
}

@value greyColor: #999999;
.grey {
   color: #999999;
}

/* 3种有色相颜色 */
@value redColor: #cc3333;

.red {
   color: #cc3333;
}

.redBackground {
   background-color: #cc3333;
}

@value blueColor: #3366cc;
.blue {
   color: #3366cc;
}

.blueBackground {
   background-color: #3366cc;
}

@value purpleColor: #6633cc;
.purple {
   color: #6633cc;
}

.purpleBackground {
   background-color: #6633cc;
}
