/************** 
margin
**************/

.smallBottomMargin {
   margin-bottom: 1.2rem;
}

.mediumBottomMargin {
   margin-bottom: 2rem;
}

.largeBottomMargin {
   margin-bottom: 4rem;
}

.largeRightMargin {
   margin-right: 2rem;
}

.littleLeftMinusMargin {
   margin-left: -3px;
}
