/************** 
字体导入
**************/
@font-face {
   font-family: 'pixel';

   src: url('../assets/pixel.woff2') format('woff2'); /* Modern Browsers */
}

@font-face {
   font-family: 'taipeiBold';

   src: url('../assets/TaipeiBold.woff2') format('woff2'); /* Modern Browsers */
}

@font-face {
   font-family: 'taipeiLight';

   src: url('../assets/TaipeiLight.woff2') format('woff2'); /* Modern Browsers */
}

@font-face {
   font-family: 'taipeiRegular';

   src: url('../assets/TaipeiRegular.woff2') format('woff2'); /* Modern Browsers */
}

/************** 
字体大小
**************/
.xsmallSize {
   font-size: 1.5rem;
}

.smallSize {
   font-size: 1.75rem;
}

.mediumSize {
   font-size: 2rem;
}

.largeSize {
   font-size: 2.5rem;
}

.xlargeSize {
   font-size: 3rem;
}

/************** 
字间距
**************/
.xsmallSpace {
   letter-spacing: 2px;
   text-indent: 2px;
}

.smallSpace {
   letter-spacing: 3px;
   text-indent: 3px;
}

.mediumSpace {
   letter-spacing: 4px;
   text-indent: 4px;
}

/***************************** 
常用字体样式
*****************************/
.pixelTitle {
   font-family: 'pixel';
   background-color: transparent;
   composes: mediumSize xsmallSpace;
}

.pixelName {
   font-family: 'pixel';
   composes: xlargeSize;
}

.pixelDescription {
   font-family: 'pixel';
   composes: xsmallSize smallSpace;
}

.headerText {
   font-family: 'taipeiRegular';
   composes: smallSize mediumSpace;
   composes: grey from './colors.css';
}

.headerTitle {
   font-family: 'taipeiBold';
   composes: largeSize;
}
