.small {
   composes: smallBottomMargin from '../../abstracts/layout.css';
}

.medium {
   composes: mediumBottomMargin from '../../abstracts/layout.css';
}

.large {
   composes: largeBottomMargin from '../../abstracts/layout.css';
}
