@value greyColor, redColor from '../../../abstracts/colors.css';
@value fast from '../../../abstracts/effects.css';
@value mediumMargin from '../../../abstracts/layout.css';

.wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.wrapper:hover .difference .arrow {
   background-color: redColor;
}

.wrapper > div:not(:last-of-type) {
   margin-right: mediumMargin;
}

.difference {
   text-align: center;
}

.difference p {
   margin-right: 5px;
}

.difference .arrow {
   background-color: greyColor;
   width: 10rem;
   height: 2rem;
   mask: url('../../../../assets/arrow.svg') no-repeat center;
   mask-size: 100% auto;
   transition: fast all;
}
