.common {
   width: 7px;
   height: 7px;
   display: inline-block;
   margin-right: 5px;
}

.common:last-of-type {
   margin-right: 0;
}

.lightGrey {
   composes: common;
   composes: lightGreyBackground from '../../../../abstracts/colors.css';
}

.red {
   composes: common;
   composes: redBackground from '../../../../abstracts/colors.css';
}

.blue {
   composes: common;
   composes: blueBackground from '../../../../abstracts/colors.css';
}

.purple {
   composes: common;
   composes: purpleBackground from '../../../../abstracts/colors.css';
}
