@value whiteColor, redColor, greyColor from '../../../abstracts/colors.css';
@value lightBoxShadow, lightClickedBoxShadow, fastAnimation from '../../../abstracts/effects.css';

.text {
   composes: pixelTitle from '../../../abstracts/typos.css';
}

.button {
   border: 2px solid greyColor;
   width: 14rem;
   height: 5rem;
   composes: grey from '../../../abstracts/colors.css';
   transition: fastAnimation all;
}

.button:hover {
   transform: translateY(-4px);
   box-shadow: lightBoxShadow;
   border-color: transparent;
   color: whiteColor;
}

.button:active {
   transform: translateY(-1px);
   box-shadow: lightClickedBoxShadow;
}

.red {
   composes: button;
}

.red:hover {
   background-color: redColor;
}

.blue {
   composes: button;
}

.blue:hover {
   background-color: blueColor;
}

.purple {
   composes: button;
}

.purple:hover {
   background-color: purpleColor;
}
