.container {
   width: 100%;
   composes: mediumBottomMargin from '../../../abstracts/layout.css';
}

.container:last-of-type {
   margin-bottom: 0;
}

.common {
   composes: pixelTitle from '../../../abstracts/typos.css';
   composes: smallBottomMargin from '../../../abstracts/layout.css';
}

.red {
   composes: common;
   composes: red from '../../../abstracts/colors.css';
}

.blue {
   composes: common;
   composes: blue from '../../../abstracts/colors.css';
}

.purple {
   composes: common;
   composes: purple from '../../../abstracts/colors.css';
}
