.battle {
   width: 100%;
   height: 100%;
   margin: 4rem auto;
   background-color: transparent;

   display: flex;
   flex: 1;
   justify-content: space-between;
   padding: 0 5rem;
}

.portion {
   display: flex;
   flex-direction: column;
   justify-content: center;
   transition: 0.2s all;
}

.leftColumn {
   composes: portion;
}

/* .leftColumn:not(disabled) {
   animation: leftEaseOut from '../../abstracts/effects.css';
} */

.middleColumn {
   composes: portion;
   align-items: center;
}

.rightColumn {
   composes: portion;
}

.marginBottom {
   composes: largeBottomMargin from '../../abstracts/layout.css';
}
