.container {
   composes: mediumBottomMargin from '../../../abstracts/layout.css';
}

.container:last-of-type {
   margin-bottom: 0;
}

.text {
   composes: smallBottomMargin littleLeftMinusMargin from '../../../abstracts/layout.css';
   composes: pixelTitle from '../../../abstracts/typos.css';
}

.red {
   composes: text;
   composes: red from '../../../abstracts/colors.css';
}

.blue {
   composes: text;
   composes: blue from '../../../abstracts/colors.css';
}
.purple {
   composes: text;
   composes: purple from '../../../abstracts/colors.css';
}
