@value redColor, whiteColor from '../../../abstracts/colors.css';

.item {
   composes: pixelDescription from '../../../abstracts/typos.css';
   composes: grey from '../../../abstracts/colors.css';
   transition: all 0.2s;
   padding: 5px 0;
}

.item:hover {
   color: redColor;
   cursor: pointer;
}

.item:hover .use {
   opacity: 1;
}

.item:active {
   color: black;
}

.item:active .use {
   background-color: black;
}

.use {
   color: whiteColor;
   padding: 3px;
   padding-left: 6px;
   margin-left: 6px;
   width: 2rem;
   height: 1rem;
   background-color: redColor;
   transition: all 0.1s;
   opacity: 0;
}
