/************** 
定义wrapper element
**************/
.common {
   display: inline-block;
   composes: largeRightMargin from '../../../abstracts/layout.css';
   transition: 0.3s all;
   text-align: center;
   transform: translateY(5px);
}

.common:hover {
   font-weight: bold;
   transform: scale(1.05) translateY(3px);
}

.common:last-of-type {
   margin-right: 0;
}

@value lightTextShadow from '../../../abstracts/effects.css';
.common:hover .button {
   font-family: 'taipeiBold';
   text-shadow: lightTextShadow;
}

/************** 
通用字体样式
**************/
.button {
   composes: headerText from '../../../abstracts/typos.css';
}

.underline {
   display: block;
   width: 0;
   height: 2px;
   background-color: transparent;
   margin: 5px auto;
   transition: 0.2s all;
}

/************** 
三种颜色的表现
**************/
@value redColor, blueColor, purpleColor from '../../../abstracts/colors.css';

.red,
.blue,
.purple {
   composes: common;
}

.red:hover .button {
   color: redColor;
}

.red:hover .underline {
   background-color: redColor;
   width: 50%;
}

.blue:hover .button {
   color: blueColor;
}

.blue:hover .underline {
   background-color: blueColor;
   width: 50%;
}

.purple:hover .button {
   color: purpleColor;
}

.purple:hover .underline {
   background-color: purpleColor;
   width: 50%;
}
