@value greyColor from '../../../abstracts/colors.css';

.window {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   composes: whiteBackground from '../../../abstracts/colors.css';
   border: 2px solid greyColor;
   padding: 3rem 2.5rem;
   composes: mediumBoxShadow from '../../../abstracts/layout.css';
}

.title {
   composes: pixelName from '../../../abstracts/typos.css';
   composes: mediumBottomMargin from '../../../abstracts/layout.css';
}
