@value largeMargin from '../../abstracts/layout.css';

.marginBottom {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.marginBottom > div:not(:last-of-type) {
   margin-bottom: largeMargin;
}
