*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   /* content-box是默认，偶尔会更有用 */
   box-sizing: border-box;
   user-select: none;
}

html {
   /* 1rem = 10px */
   font-size: 62.5%;
   height: 100vh;
}

/* <input>不会自动继承，所以需要手动设置一下 */
input {
   font-family: inherit;
   font-size: inherit;
   color: inherit;
}

/* 去除下划线 */
a:link,
a:visited {
   text-decoration: none;
}

button {
   border: none;
   font-size: inherit;
   background-color: transparent;
   cursor: pointer;
}

button:focus {
   outline: none;
}

ul,
ol,
li {
   list-style: none;
}
