@value medium from '../../abstracts/effects.css';
@value blackColor from '../../abstracts/colors.css';

.background {
   position: fixed;
   width: 100vw;
   height: 100vh;
   left: 0;
   top: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 100;
   background-color: rgba(0, 0, 0, 0.9);
}

.enter:first-child {
   background-color: rgba(0, 0, 0, 0);
}

.enterActive:first-child {
   background-color: rgba(0, 0, 0, 0.9);
   transition: medium all;
}

.enterDone:first-child {
   background-color: rgba(0, 0, 0, 0.9);
}

.exit:first-child {
   background-color: rgba(0, 0, 0, 0.9);
}

.exitActive:first-child {
   background-color: rgba(0, 0, 0, 0);
   transition: medium all;
}
