@value blackColor from '../../abstracts/colors.css';

.background {
   display: fixed;
   width: 100vw;
   height: 100vh;
   left: 0;
   top: 0;
   background-color: blackColor;
}

.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}

.appear:first-child {
   opacity: 0;
}

.appearActive:first-child {
   opacity: 0.6;
   transition: medium all;
}

.exit:first-child {
   opacity: 0.6;
}

.exitActive:first-child {
   opacity: 0;
   transition: medium all;
}
